# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# Environment
.env.*
*.env.local
*.env.development
*.env.production

# Logs
logs/
*.log
debug.log

# macOS
.DS_Store

# VSCode
.vscode/

# Postman / Insomnia
*.postman_collection.json
*.insomnia.json

# Coverage / testing
coverage/
.nyc_output/
